*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
.nav_secondaire{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-around; */
    margin: 15%;
  
}
a{
    text-decoration: none;
    color:black;
}

.button_secondaire{
    text-align: center;
    list-style-type: none;
    background-color:var(--main_color_blue);
    border-radius: 10px;
    padding: 8px 20px;
    font-size: calc(10px + 1vw);
}

.button_secondaire:visited{
    background-color:var(--main_color_yelow);
}
.button_secondaire:hover{
    background-color:var(--main_color_yelow);
    color:black;
    transition: all 0.25s ease-in-out;
}
.button_secondaire:active{
    background-color:var(--main_color_yelow);
    color:var(--second_color_lightyelow);
}
.active{
    background-color:var(--main_color_yelow);
    color:black;
}
/* *****************************************CARTE LAPIN**************************** */
h2{
    font-family: var(--font_family_main);
    color:var(--second_color_lightyelow);
    justify-content: center;
}
.card_lapin{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5em;
}
.fond_bleu{
    background-color:var(--main_color_blue);
    width: 90%;
    border-radius: 20px;
}
.fond_img{
    max-width: 85%;
}
.container{
    position: relative;
    display: block;
}

.description{
    /* margin: 30px; */
    text-align: center;
    width: 40%;
    border: 2px var(--second_color_lightyelow) solid;
    border-radius: 20px;
    background-color:rgba(255, 240, 189, 0.6);
    position:absolute;
    left: 100px;

    max-width: 30%;
}