* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn_nav2 {
    font-family: var(--font_family_seconder);
}

a {
    text-decoration: none;
    color: black;
}

.button_secondaire,
.btn_nav2 {
    text-align: center;
    list-style-type: none;
    background-color: var(--main_color_blue);
    border-radius: 10px;
    padding: 8px 20px;
    font-size: calc(10px + 1vw);
    cursor: pointer;
}

/* .button_secondaire:visited {
    background-color: var(--main_color_yelow);
} */

.btn_nav2:hover {
    background-color: var(--main_color_yelow);
    color: black;
    transition: all 0.25s ease-in-out;
}

.btn_nav2:active {
    background-color: var(--main_color_yelow);
    color: var(--second_color_lightyelow);
}

.active {
    background-color: var(--main_color_yelow);
    color: black;
}

input {
    display: none;
}

.labels {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

/* .btn_nav2 {
   font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    background-color: aquamarine;
    
} */

/* *****************************************CARTES**************************** */

.tricot,
.couture,
.crochet {
    display: none;
}

#menu_toutes:checked~.couture,
#menu_toutes:checked~.tricot,
#menu_toutes:checked~.crochet {
    display: flex;

}

input:checked+.btn_nav {
    background-color: var(--main_color_yelow);
}

#menu_toutes:checked~.labels>.lab_toutes {
    background-color: var(--main_color_yelow);
}

#menu_couture:checked~.labels>.lab_couture {
    background-color: var(--main_color_yelow);
}

#menu_crochet:checked~.labels>.lab_crochet {
    background-color: var(--main_color_yelow);
}

#menu_tricot:checked~.labels>.lab_tricot {
    background-color: var(--main_color_yelow);
}

#menu_couture:checked~.couture {
    display: flex;
}


#menu_crochet:checked~.crochet {
    display: flex;
}

#menu_tricot:checked~.tricot {
    display: flex;
}

.card {
    /* display: flex; */
    flex-direction: column;
    text-align: center;
    margin-bottom: 5em;
    padding: 1em;
}

.fond_bleu {
    background-color: var(--main_color_blue);
    width: 90%;
    border-radius: 20px;
}

h2 {
    font-family: var(--font_family_main);
    font-weight: 100;
    color: var(--second_color_lightyelow);
    text-align: center;
}

.container {
    position: relative;
    display: block;
    width: 90%;
}

.fond_img {
    /* display: block; */
    width: 85%;
    height: 100%;
    border-radius: 10px;
}



.description {
    font-family: var(--font_family_seconder);
    text-align: center;
    width: 50%;
    border: 2px var(--second_color_lightyelow) solid;
    border-radius: 20px;
    background-color: rgba(255, 240, 189, 0.85);
    position: absolute;
    top: 20px;
    right: 100px;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}

.card_footer {
    display: flex;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 6%;
}

.tag_1,
.tag_2 {
    background-color: var(--second_color_lightyelow);
    color: var(--main_color_blue);
    font-family: var(--font_family_main);
    font-weight: 400;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    width: 5em;
}

.fb {
    display: flex;
    justify-content: space-between;
    background-color: var(--second_color_lightyelow);
    color: var(--main_color_blue);
    font-family: var(--font_family_main);
    font-weight: 400;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    width: 150px;
    height: 30px;
}

.dislikes {
    display: flex;
    flex-direction: row-reverse;
}

/************************************************ MEDIA QUERIES*************************************************** */

@media screen and (max-width:760px) {
    .fond_img {
        display: none;
    }

    .tricot>.container {
        display:grid;
        grid-template-columns: 200px 1fr;
        grid-template-areas: ". txt";
        height: 11em;
        background-image: url(imgs/mini_fond_lapin.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        margin: 1em;
    }
    .couture>.container {
        display:grid;
        grid-template-columns: 200px 1fr;
        grid-template-areas: ". txt";
        height: 11em;
        background-image: url(imgs/mini_fond_noel.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        margin: 1em;
    }
    .crochet>.container {
        display:grid;
        grid-template-columns: 200px 1fr;
        grid-template-areas: ". txt";
        height: 11em;
        background-image: url(imgs/mini_fond_gants.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        margin: 1em;
    }
    .description {
        grid-area: txt;
        position: initial;
        margin: 2em 0;
        max-height: 13em;
        font-size: 11px;
        line-height: calc(90% + 1em);
        padding: 1.5em;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .fb, .tag_1, .tag_2{
        max-width: 6em;
        max-height: 33px;
        margin: 0 0.5em 1em 0;

    }

}